.dnc-search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

    .dnc-search input {
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }


        .dnc-search input:focus {
            box-shadow: none;
            border: 2px solid blue;
        }


    .dnc-search .dnc-search-icon {
        position: absolute;
        top: 20px;
        left: 16px;
    }

    .dnc-search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
    }

.btn-primary {
    background: blue;
}
